@model SocialMediaQuery.Models.Search.Index
@{
    ViewBag.Title = "Social Media Query Search Page";
}

<div class="jumbotron">
    <h1>Social Media Query</h1>
    <p class="lead">A sample project which contains examples on how to uery social media services via server-side C# code..</p>
    <p><a href="http://codingmag.com" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

@using (Html.BeginForm("RouteToController", "Search", FormMethod.Get, new { id = "searchForm" }))
{
    <div class="row">
        <div class="col-lg-4" style="align-content: flex-end">
            <span class="pull-right">
                <input type="text" name="query" class="form-control" />
                </span>
        </div>
        <div class="col-lg-4">
            <span class="pull-center">
                <select name="dataSourceId" class="form-control" id="dataSourceId">
                    <option value="0">Select the social media source...</option>
                    @foreach (var item in Model.DataSources)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </span>
        </div>
        <div class="col-lg-4">
            <span class="pull-left">
                <input type="submit" value="Search" id="submitButton" class="btn btn-info btn-flat" />
            </span>
        </div>
    </div>
}